# NPM packages folder.
node_modules

# Build files
dist/
client/config/*.env
# lock files
yarn.lock
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# node-waf configuration
.lock-wscript

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Jest Coverage
coverage

.history/
keys.js 
#mac files
.vscode
.DS_Store
.DS_Store?
._.DS_Store
**/.DS_Store
**/._.DS_Store
primereact
