datatable-doc-demo .customer-badge {
    border-radius: 2px;
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
}
.datatable-doc-demo .customer-badge.status-qualified {
    background-color: #C8E6C9;
    color: #256029;
}
.datatable-doc-demo .customer-badge.status-unqualified {
    background-color: #FFCDD2;
    color: #C63737;
}
.datatable-doc-demo .customer-badge.status-negotiation {
    background-color: #FEEDAF;
    color: #8A5340;
}
.datatable-doc-demo .customer-badge.status-new {
    background-color: #B3E5FC;
    color: #23547B;
}
.datatable-doc-demo .customer-badge.status-renewal {
    background-color: #ECCFFF;
    color: #694382;
}
.datatable-doc-demo .customer-badge.status-proposal {
    background-color: #FFD8B2;
    color: #805B36;
}
.datatable-doc-demo .p-multiselect-representative-option {
    display: inline-block;
    vertical-align: middle;
}
.datatable-doc-demo .p-multiselect-representative-option img {
    vertical-align: middle;
    width: 24px;
}
.datatable-doc-demo .p-multiselect-representative-option span {
    margin-top: 0.125em;
}
.datatable-doc-demo .flag {
    width: 30px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.datatable-doc-demo .p-paginator .p-dropdown {
    float: left;
}
.datatable-doc-demo .p-paginator .p-paginator-current {
    float: right;
}
.datatable-doc-demo .p-progressbar {
    height: 8px;
    background-color: #D8DADC;
}
.datatable-doc-demo .p-progressbar .p-progressbar-value {
    background-color: #00ACAD;
    transition: none;
}
.datatable-doc-demo .p-column-filter {
    display: block;
}
.datatable-doc-demo .p-column-filter input {
    width: 100%;
}
.datatable-doc-demo .p-datatable-globalfilter-container {
    float: right;
}
.datatable-doc-demo .p-datatable-globalfilter-container input {
    width: 200px;
}
.datatable-doc-demo .p-datepicker {
    min-width: 25em;
}
.datatable-doc-demo .p-datepicker td {
    font-weight: 400;
}
.datatable-doc-demo .p-datatable.p-datatable-customers {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-header {
    border: 0 none;
    padding: 12px;
    text-align: left;
    font-size: 20px;
}
.datatable-doc-demo .p-datatable.p-datatable-customers .p-paginator {
    border: 0 none;
    padding: 1em;
}
.datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-thead > tr > th {
    border: 0 none;
    text-align: left;
}
.datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-thead > tr > th.p-filter-column {
    border-top: 1px solid #c8c8c8;
}
.datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
    border: 0 none;
    cursor: auto;
}
.datatable-doc-demo .p-datatable.p-datatable-customers .p-dropdown-label:not(.p-placeholder) {
    text-transform: uppercase;
}