.form-card {
    width: 500px;
    height: 500px;
    display: block;
    position: justify;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.p-logininput {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.text {
    width: 250px;
    height: 30px;
}
.proimg {
    vertical-align: "middle";
    //  verticallign: "middle";
    width: 120px;
    height: 120px;
    border-radius: 10%;
    display: block;
    position: justify;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.imgpro {
    margin-top: 20px;
}